.navbar {
  display: flex;
  align-items: center;
  background-color: rgb(16, 16, 16);
  width: 100%;
  justify-content: space-between;
  color: white;
  min-height: 60px;
  padding: 0 50px;

  >div {
    display: flex;
    align-items: baseline;
    gap: 20px;
  }
}

.link {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.nav-section {
  display: flex;
  gap: 30px;
  margin: 10px;
}

.nav-section-sub {
  a {
    font-size: 1rem !important;
    font-weight: 100;
    text-transform: uppercase;
  }
}

.h1 {
  font-size: 1.3rem;
  font-weight: 800;
}