.navbar {
  display: flex;
  align-items: center;
  background-color: rgb(16, 16, 16);
  width: 100%;
  justify-content: space-between;
  color: white;
  min-height: 60px;
  padding: 0 50px;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.nav-section {
  display: flex;
  gap: 30px;
  margin: 10px;
}

.nav-section-sub {
  font-size: .8rem;
}

.h1 {
  font-size: 1.3rem;
  font-weight: 800;
}